/* reset css */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.client-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px;
    padding: 0 144px;
    gap: 16px;
}

.client-layout {
    display: flex;
    flex-direction: column;
    width: 1110px;
    height: 76px;
    gap: 8px;
    margin: 0 auto;
}

.client {
    display: flex;
    width: 1110px;
    height: 44px;
    font: inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    align-items: center;
    justify-content: center;
     
}
.p-text {
    display: flex;
    width: 1110px;
    height: 24px;
    font: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    color: #717171;
}
.img {
    display: flex;
    width: 1152px;
    height: 98px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.community-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 416px;
    gap: 16px;
}

.community-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    gap: 8px;
}

.community-text {
    display: flex;
    width: 542px;
    height: 88px;
    font: inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.com-text {
    display: flex;
    width: 100%;
    height: 24px;
    font: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    color: #717171;
}
.container {
    display: flex;
    width: 100%;
    height: 280px;
    justify-content: space-between;
    padding: 0 144px;
}
.section-container {
    display: flex;
    flex-direction: column;
    width: 299px;
    height: 260px;
    padding: 24px 32px;
    text-align: center;
    box-shadow: 2px 1px 2px;
    border-radius: 8px;
    gap: 8px;
}

.member {
    display: flex;
    flex-direction: column;
    width: 267px;
    height: 144px;
    gap: 16px;
    justify-content: center;
    margin: 0 auto;
}


.icon {
    margin: 0 auto;
}

.club-text{
    display: flex;
    width: 267px;
    height: 72px;
    font: inter;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    align-items: center;
    justify-content: center;
}

.our {
    display: flex;
    width: 251px;
    height: 60px;
    font: inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #717171;
}
.unseen-section {
    display: flex;
    width: 100%;
    height: 433px;
    justify-content: space-between;
    align-items: center;
    padding: 0 144px;
    background-color:  white;
}
.left-unseen-section {
    display: flex;
    width: 442px;
    height: 433px;
}

.left-unseen {
    display: flex;
    width: 441.53px;
    height: 328.99px;
    margin-top: 52px;
}

.right-unseen-section {
    display: flex;
    width: 661px;
    height: 268px;
    flex-direction: column;
    gap: 32px;
}

.right-unseen {
    display: flex;
    flex-direction: column;
    width: 601px;
    height: 184px;
    gap: 16px;
}

.h4-text {
    display: flex;
    width: 601px;
    height: 88px;
    font: inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #4D4D4D;
}
.unseen-p-text {
    display: flex;
    width: 601px;
    height: 80px;
    font: inter;
    font-weight: 400px;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    margin-top: 10px;
}

.unseen-learn {
    display: flex;
    width: 151px;
    height: 52px;
    border-radius: 4px;
    padding: 14px 32px;
    gap: 10px;
    background-color: #4CAF4F;
    font: inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
}
.local {
    display: flex;
    width: 100%;
    height: 288px;
    justify-content: space-between;
    padding: 64px 144px;
    background-color: #F5F7FA;
}

.left-local {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 120px;
    gap: 8px;
}

.helping {
    display: flex;
    width: 408px;
    height: 88px;
    gap: 8px;
}

.headline {
    font: inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.headspan {
    color: #4CAF4F;
}

.head-we {
    display: flex;
    width: 540px;
    height: 24px;
    font: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #18191F;
}

.right-local {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 160px;
    gap: 40px;
}

.row-1 {
    display: flex;
    width: 540px;
    height: 60px;
    gap: 30px;
}

.row1-layout {
    display: flex;
    width: 255px;
    height: 60px;
    gap: 16px;
    align-items: center;
}

.img-icon {
    display: flex;
    width: 48px;
    height: 48px;
}

.member1 {
    display: flex;
    flex-direction: column;
    width: 191px;
    height: 60px;
}

.number-figure {
    display: flex;
    width: 191px;
    height: 36px;
    font: inter;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.p-letter {
    display: flex;
    width: 191px;
    font: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}